.pizza_box {
    max-width: 280px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.pizza_box img{
    width: 100%
}

.title {
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #000000;
    margin-top: 11px;
}

.settings {
    background: #F3F3F3;
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7px 5px;
    margin-top: 22px;
}

.dough_settings,
.size_settings {
    display: flex;
    width: 100%;
    gap: 5px;
}

.size_settings{
    margin-top: 5px;
}

.settings_btn {
    width: 100%;
    background: #F3F3F3;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.015em;
    color: #2C2C2C;
    height: 32px;
    border-radius: 5px;
}

.settings_btn:hover {
    background: rgba(255, 255, 255, 0.3);
    
}

.settings_btn.disabled {
    opacity: 0.2;
    pointer-events: none;
}

.settings_btn.disabled:hover {
    background: #F3F3F3;
}

.settings_btn.active{
    background: #fff;
}

.purchase {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 17px;
}

.price {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.015em;
}

.add_cart {
    background: #FFFFFF;
    border: 1px solid #EB5A1E;
    border-radius: 30px;
    height: 40px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #EB5A1E;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 18px;
}

.add_cart:hover {
    background: #FE5F1E;
    border: 1px solid #FE5F1E;
    border-radius: 30px;
    color: #fff;
}

.add_cart:hover .plus::before,
.add_cart:hover .plus::after {
    background-color: #fff;
}

.plus {
    position: relative;
    width: 12px;
    height: 12px;
}

.plus::before,
.plus::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 2px;
    background-color: #EB5A1E;
    border-radius: 20px;
}

.plus::before {
    transform: translate(-50%, -50%) rotate(90deg);
}

.plus::after {
    transform: translate(-50%, -50%);
}
.quantity{
    width: 20px;
    height: 20px;
    background-color: #FE5F1E;
    border-radius: 50%;
    display: block;
    line-height: 22px;
    color: #fff;
}

.add_cart:hover .quantity{
    background-color: #fff;
    color: #FE5F1E;
}

