.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 95px;
}

.logo {
    display: flex;
    align-items: center;
}

.text {
    margin-left: 17px;
}

.logo_title {
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.01em;
    color: black;
}

.logo_subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #7B7B7B;
}

@media (max-width: 525px) {
    .logo_title {
        font-size: 18px;
        line-height: 20px;
    }
    .text{
        margin-left: 10px;
    }

    .logo_subtitle {
        font-size: 11px;
        line-height: 11px;
        max-width: 120px;
    }
    .logo img {
        max-width: 32px;
    }
    .cart_btn {
        font-size: 12px;
        line-height: 22px;
        padding: 10px 17px;
    }

    .header{
        padding: 0px;
        min-height: 75px;
    }
}