.main {
    background: #FFFFFF;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.03);
    border-radius: 10px;
    margin: 43px 50px 63px;
    padding: 50px 0 96px;
}

.container {
    max-width: 1225px;
    margin: 0 auto;

}