.main {
    background: #FFFFFF;
}

.container {
    max-width: 1285px;
    margin: 0 auto;
    padding: 0 30px;
}

@media (max-width: 525px) {
    .main {
        padding: 0;
    }
    .container {
        max-width: 1285px;
        margin: 0 auto;
        padding: 0 15px;
    }
}